.container{
    width: 420px;
    height: 590px;
    margin: auto;
    margin-top:10px;
 border-radius: 12px;
 background: linear-gradient(140deg, #1488cc, #2b32b2);   
}
.topBar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 40px;
}
.topBar input{
    display: flex;
    width: 300px;
    height: 45px;
    background: #ebfffc;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color:#626262 ;
    font-size: 19px;
    font-weight: 400;
}
.searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 48px;
    background: #ebfffc;
    border-radius:40px ;
    cursor: pointer;
}
.weatherImg{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.weatherTemp{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px; 
  font-weight: 400; 
}
.weatherLocation{
    display: flex;
  justify-content: center;
  color: white;
 font-size: 60px;
 font-weight: 400; 
}
.dataContainer{
    margin-top: 40px;
    color:white;
    display: flex;
    justify-content: center;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.data{
    font-size: 24px;
    font-weight: 400;
}
.text{
    font-size: 24px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
}